@model IEnumerable<FoodItem>
@{
    ViewData["Title"] = "Quản lý món ăn";
}

<h1>@ViewData["Title"]</h1>
<p>
	<a asp-action="Create" class="btn btn-primary">Thêm món ăn mới</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên món</th>
			<th>Giá</th>
            <th>Danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Category?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
